@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body{
	font-family: "Lato";
	color: #424551;
	background: #FFFFFF;
}

.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
[class*="__container"]{
    max-width: 1275px;
    margin: 0 auto;
	padding-left: 15px;
    padding-right: 15px;
}
/* ===============================================================================================================================  */
.heading {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.heading__sub-title {
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}
.heading__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
}
/* ===============================================================================================================================  */
/* ===============================================================================================================================  */
.page {
}
.page__questions {
    padding: 180px 0;
}
.questions {
}
.questions__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
}
.questions__image {
    flex: 0 1 35%;
    align-self: center;
}
.questions__image img {
    max-width: 100%;
}
.questions__content {
    padding-left: 105px;
    flex: 0 1 65%;
}
.questions__heading {
    margin-bottom: 40px;
}
.questions__form {
}
.form-questions {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12.5px;
    row-gap: 24px;
}
.form-questions__line {
    width: 50%;
    padding: 0 12.5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form-questions__label {
    line-height: 160%;
    color: #424551;
}
.form-questions__input {
    height: 52px;
    padding: 0 16px;
    background: #FFFFFF;
    border: 1px solid #D7DADD;
    border-radius: 4px;
}
.form-questions__input:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgb(154, 156, 165, 0.2);
}
.form-questions__input::placeholder{
    line-height: 160%;
    color: #9A9CA5;
}
.form-questions__message {
    flex: 0 1 100%;
}
.form-questions__textarea{
    padding: 13px 16px;
    height: 128px;
    resize: none;
}
.checkbox {
    position: relative;
}
.checkbox__input {
    position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}
.checkbox__label {
    line-height: 1.6;
    color: #424551;
    cursor: pointer;
	display: inline-flex;
	gap: 12px;
}
.checkbox__input:checked + .checkbox__label::before {
	background: #FF3F3A url('../img/check.svg') center / 62.5% no-repeat;
}
.checkbox__label::before {
    flex-shrink: 0;
    content: "";
    width: 16px;
    height: 16px;
    background: #FF3F3A;
    border: 1px solid #FF3F3A;
    border-radius: 3px;
    margin-top: 5px;
}
.form-questions__last-line {
    display: flex;
    width: 100%;
    gap: 50px;
    padding: 0 12.5px;
}
.form-questions__last-line .form-questions__line {
    padding: 0;
}
.form-questions__last-line .form-questions__line >*{
    flex: 0 1 auto;
}
.form-questions__button {
/* Я знаю що вона ломається. Так і задумано :) */
}
.button {
    padding: 18px 20px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.button-orange {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    color: #FFFFFF;
}
.form-questions__radio-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex: 0 1 100%;
    flex-wrap: wrap;
}
.form-questions__radio {
    position: relative;
    flex: 0 1 auto;
}
.form-questions__input {
}
.form-questions__input--radio {
    position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}
.form-questions__input--radio:checked + .form-questions__label--radio::before {
    background: #FF3F3A;
}
.form-questions__label {
}
.form-questions__label--radio {
    cursor: pointer;
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}
.form-questions__label--radio::before {
    content: "";
    background: #FFFFFF;
    border: 2px solid #FF3F3A;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

/* ===============================================================================================================================  */
/* ===============================================================================================================================  */
.page {
}
.page__elaboration {
}
.elaboration h2 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.elaboration h2:not(:last-child){
    margin-bottom: 30px;
}
.elaboration {
    background-color: #dcd8fb;
    padding: 50px 0;
}
.elaboration__container {
    padding: 0 50px;
}
.elaboration__form {
    
}
.form {
    padding: 70px 0;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    margin: 0 -50px;
}
.form__line {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex: 0 1 50%;
    padding: 0 50px;
    justify-content: center;
}
.form__line:not(:last-child){
}
.form__line label {
    font-size: 24px;
}
.form__input {
    border: 1px solid silver;
    border-radius: 5px;
    height: 50px;
    padding: 0 20px;
    transition: all 0.3s ease 0s;
}
.form__input:focus {
    outline: none;
    background-color: rgb(221, 222, 225, 0.2);
}
.form__input::placeholder {
    font-size: 18px;
}
.form__checkbox-title {
    text-align: center;
}
.form__checkbox-title:not(:last-child){
    margin-bottom: 10px;
    font-size: 24px;
}
.form__chekbox{
    flex: 0 1 33%;
    justify-content: flex-start;
    position: relative;
}
.form__chekbox input{
    position: absolute;
    width: 0;
	height: 0;
	opacity: 0;
}
.form__chekbox label {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}
.form-questions__input--radio:checked + .form-questions__label--radio::before {
    background: #FF3F3A;
}
.form__input-checkbox:checked + .form__label-checkbox::before {
    background-color: #F75E05;
}
.form__label-checkbox::before{
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #F75E05;
    border-radius: 5px;
    flex: 0 0 auto;
}
.form__wrapper-checkbox {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.form__wrapper-checkbox label {
    flex-direction: column;
    justify-content: flex-start;
}
.form__wrapper-checkbox >*{
    flex: 0 1 33.333%;
    
}
.form__photo {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.form__photo input {
    width: 100%;
    padding: 10%;
}
.required label::after {
    content: "*";
}
.form__line--button {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
}
.form__line--button button{
    background-color: #FF3F3A;
    padding: 15px 70px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.2em;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}
.form__line--button button:hover {
    background-color: #cc3934;
}
.form__line--color {
    align-items: center;
}
.form__line--color input{
    width: 10%;
    padding: 20px;
    border-radius: 50%;
}
.form__line--date {
    align-items: center;
}
.form__line--date input{
    width: 150px;
}
.form__line--secret {
    text-align: center;
}